#logout-button { 
    background-color: #1DB954; /* Spotify green */
    border: none;
    border-radius: 30px;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Gotham', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 45%;
    margin-top: 10px;

}

#logout-button:hover {
    background-color: #1ed760;
}